<nav class="navbar is-transparent">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/dashboard">
        <img src="../assets/logos/NN/nn_logo_rgb_blue.svg" alt="Novo Nordisk Logo" width="50">
      </a>
      <div class="navbar-burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  
    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-start">

      </div>
  
      <div class="navbar-end">
        <a class="navbar-item" routerLink="/dashboard">
            Dashboard
          </a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" routerLink="/technology-radar">
              Technology Radar
            </a>
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item" routerLink="/technologies">
                Technologies
              </a>
            </div>
          </div>
       
      </div>
    </div>
  </nav>


<!--<div class="header">
    <h1>Novo Nordisk</h1><h1>Technology Radar</h1>
    <img class="logo" src="../assets/logos/NN/nn_logo_rgb_blue.svg" alt="Novo Nordisk Logo">
</div>
<nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/technologies">Technologies</a>
    <a routerLink="/technology-radar">Technology Radar</a>
</nav>-->