<h2>My Technologies</h2>

<ul class="technologies">
    <li *ngFor="let technology of technologies">
      <a routerLink="/detail/{{technology.id}}">
        <span class="badge">{{technology.id}}</span> {{technology.name}}
      </a>
      <button class="delete" title="delete technology"
        (click)="delete(technology)">x {{aNumber}}</button>
    </li>
</ul>

<div>
  <label for="new-technology">Technology name: </label>
  <input id="new-technology" #technologyName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button class="add-button" (click)="add(technologyName.value); technologyName.value=''">
    Add technology
  </button>
</div>